<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="canopy" version="0.9.19" targetFramework="net45" />
  <package id="CsQuery" version="1.3.4" targetFramework="net45" />
  <package id="FSharp.Core.3" version="0.0.2" targetFramework="net45" />
  <package id="FsUnit" version="1.3.0.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="PhantomJS" version="1.9.8" targetFramework="net45" />
  <package id="Selenium.Support" version="2.44.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="2.44.0" targetFramework="net45" />
  <package id="SizSelCsZzz" version="0.3.36.0" targetFramework="net45" />
  <package id="TickSpec" version="1.0.0.1" targetFramework="net45" />
  <package id="TickSpec.NUnit" version="1.0.0.1" targetFramework="net45" />
</packages>